<div class="bg-blue-600  text-stone-500  p-4">
    <nav class="flex justify-between items-center">
      <div>
        <img src="assets/logo.webp" class="w-30 h-8">
      </div>
      <div>
        <button routerLink="/dashboard" class="bg-yellow-300 hover:bg-amber-400  text-stone-500  px-3 py-1 rounded-md mr-2">
          Inicio
        </button>
        
        <button routerLink="/history" class="bg-yellow-300 hover:bg-amber-400  text-stone-500  px-3 py-1 rounded-md mr-2">
          Historial
        </button>
        <button (click)="onLogout()" class="bg-amber-200 hover:bg-amber-400 text-stone-500 px-3 py-1 rounded-md mr-2">
          Log out
        </button>
      </div>
      <div>
      </div>
    </nav>
  </div>