<div class="pre-sala">
    <h2>Pre-sala del Juego</h2>
    <div>
      <p>Jugador 1: {{ playerOneName }}</p>
      <p>Jugador 2: {{ playerTwoName }}</p>
    </div>
  
    <div class="controls">
      <label for="rows">Filas:</label>
      <input type="number" id="rows" [(ngModel)]="selectedRows" min="6" max="9" />
    
      <label for="columns">Columnas:</label>
      <input type="number" id="columns" [(ngModel)]="selectedColumns" min="6" max="9" />
  
      <button (click)="setBoardSize(selectedRows, selectedColumns)">Aplicar</button>
    </div>
  
    <button (click)="startGame()">Iniciar Juego</button>
  </div>
  
  <app-board [rows]="selectedRows" [columns]="selectedColumns"></app-board>
  
