<div class="pre-sala-container">
    <div class="pre-sala-header">
      <h2>Sala de juego</h2>
    </div>
  
    <div class="pre-sala-details">
      <div class="detail-item">
        <label>Código de la sala:</label>
        <span>{{ code }}</span>
      </div>
  
      <div class="detail-item">
        <label>Creador de la sala:</label>
        <span>{{ creator }}</span>
      </div>
  
      <div class="detail-item" *ngIf="player2">
        <label>2do jugador:</label>
        <span>{{ player2 }}</span>
      </div>
    </div>
  
  </div>
  
