<div class="table-container">
  <table *ngIf="gameHistory && gameHistory.length > 0">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Jugador 1</th>
        <th>Jugador 2</th>
        <th>Ganador</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of gameHistory">
        <td>{{ game.created_at | date:'short' }}</td>
        <td>{{ game.playerOneUser.username }}</td>
        <td>{{ game.playerTwoUser.username }}</td>
        <td>{{ game.winnerUser ? game.winnerUser.username : 'Empate' }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!gameHistory || gameHistory.length === 0">No hay partidas registradas.</p>
</div>
