<div class="game-container">
  <!-- Indicador de turno -->
  <div class="turn-indicator">
    <p *ngIf="isMyTurn">Es tu turno, Jugador {{ currentPlayer }}.</p>
    <p *ngIf="!isMyTurn">Esperando al oponente...</p>
  </div>

  <!-- Tablero de juego -->
  <div class="board">
    <div class="row" *ngFor="let row of board; let rowIndex = index">
      <div
        class="cell"
        *ngFor="let cell of row; let colIndex = index"
        (click)="dropPiece(colIndex)"
      >
        <div class="piece" [ngClass]="getPieceClass(rowIndex, colIndex)"></div>
      </div>
    </div>
  </div>
</div>
